@page
@model Bank_Demo.Pages.CustomersModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>
                Name
                <a asp-page="/Customers" asp-route-sortColumn="Givenname" asp-route-sortOrder="asc">
                    <i class="fas fa-angle-up"></i>
                </a>
                <a asp-page="/Customers" asp-route-sortColumn="Givenname" asp-route-sortOrder="desc">
                    <i class="fas fa-angle-down"></i>
                </a>
            </th>
            <th>
                Adress
                <a asp-page="/Customers" asp-route-sortColumn="Streetaddress" asp-route-sortOrder="asc">
                    <i class="fas fa-angle-up"></i>
                </a>
                <a asp-page="/Customers" asp-route-sortColumn="Streetaddress" asp-route-sortOrder="desc">
                    <i class="fas fa-angle-down"></i>
                </a>
            </th>
            <th>
                Postnummer
                <a asp-page="/Customers" asp-route-sortColumn="Zipcode" asp-route-sortOrder="asc">
                    <i class="fas fa-angle-up"></i>
                </a>
                <a asp-page="/Customers" asp-route-sortColumn="Zipcode" asp-route-sortOrder="desc">
                    <i class="fas fa-angle-down"></i>
                </a>
            </th>
            <th>
                Postort
                <a asp-page="/Customers" asp-route-sortColumn="City" asp-route-sortOrder="asc">
                    <i class="fas fa-angle-up"></i>
                </a>
                <a asp-page="/Customers" asp-route-sortColumn="City" asp-route-sortOrder="desc">
                    <i class="fas fa-angle-down"></i>
                </a>
            </th>
            <th>
                Land
                <a asp-page="/Customers" asp-route-sortColumn="Country"  asp-route-sortOrder="asc">
                    <i class="fas fa-angle-up"></i>
                </a>
                <a asp-page="/Customers" asp-route-sortColumn="Country" asp-route-sortOrder="desc">
                    <i class="fas fa-angle-down"></i>
                </a>
            </th>
            <th>
                E-post
                <a asp-page="/Customers" asp-route-sortColumn="Emailaddress" asp-route-sortOrder="asc">
                    <i class="fas fa-angle-up"></i>
                </a>
                <a asp-page="/Customers" asp-route-sortColumn="Emailaddress" asp-route-sortOrder="desc">
                    <i class="fas fa-angle-down"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>@item.Givenname @item.Surname</td>
                <td>@item.Streetaddress</td>
                <td>@item.Zipcode</td>
                <td>@item.City</td>
                <td>@item.Country</td>
                <td>@item.Emailaddress</td>
                <td>
                    <a asp-page="/EditCustomer" asp-route-id="@item.CustomerId" class="btn btn-primary">Redigera</a>
                </td>
            </tr>
        }
    </tbody>
</table>