@page
@model BankAdministration.Pages.Account.AccountModel
@{
}
<section class="card py-5">
    <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-around p-3 mb-3">
            <div class="row">
                <div class="col-md-4">
                    <h1>Alla konton</h1>
                </div>
                <div class="col-md-4">
                    <h2>Owner konto</h2>
                </div>
                <table class="table">
                    <tr>
                        <th>KontoNr.</th>
                        <th>Saldo</th>
                        <th>Skapat datum</th>
                        <th>Kontotyp</th>
                        <th>Sätta in</th>
                        <th>Ta ut</th>
                        <th>Transaktion</th>
                        <th>Överför</th>
                    </tr>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.AccountId</td>
                            <td>@item.Balance</td>
                            <td>@item.CreateDate</td>
                            <td>@item.AccountType</td>
                            <td>
                                <a asp-page="Deposit" asp-route-accountId="@item.AccountId">
                                    <i class="fas fa-2x fa-money-bill-wave-alt"></i>
                                </a>
                            </td>
                            <td>
                                <a asp-page="Withdraw" asp-route-accountId="@item.AccountId">
                                    <i class="far fa-2x fa-money-bill-alt"></i>
                                </a>
                            </td>
                            <td>
                                <a asp-page="Transaction" asp-route-accountId="@item.AccountId">
                                    <i class="fas fa-2x fa-file-signature"></i>
                                </a>
                            </td>
                            <td>
                                <a asp-page="Transfer" asp-route-accountId="@item.AccountId">
                                    <i class="fas fa-2x fa-file-signature"></i>
                                </a>
                            </td>

                        </tr>
                    }
                </table>

                


            </div>
        </div>
    </div>
</section>