@page
@model BankAdministration.Pages.CustomerStatisticsModel
@{
}

@*<div class="container-fluid d-flex justify-content-around">

    <div class="card text-center rounded-3 h-100 mb-0 alert-yellow mb-3 mt-5" style="max-width: 18rem;">
        <div class="card-header">Kund</div>
        <div class="card-body">
            <h5 class="card-title">Antal befintliga kunder</h5>
            <p class="display-6 mb-0">@Model.ActiveCustomers</p>
        </div>
        <div class="card-footer">
            <p class="display-6 mb-1">@Model.MaleCustomers m</p>
            <p class="display-6 mb-1">@Model.FemaleCustomers f</p>
        </div>
    </div>

</div>*@

<table class="table table-responsive table-hover caption-top">
  <caption>Kundlista</caption>
  <thead>
    <tr>
      <th scope="col">Kunder</th>
      <th scope="col">Befintlig</th>
      <th scope="col">Manlig</th>
      <th scope="col">Kvinnlig</th>
      <th scope="col">Svensk</th>
      <th scope="col">Norsk</th>
      <th scope="col">Dansk</th>
      <th scope="col">Finsk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>@Model.ActiveCustomers</td>
      <td>@Model.MaleCustomers män</td>
      <td>@Model.FemaleCustomers kvinnor</td>
      <td>@Model.SwedishCustomers</td>
      <td>@Model.NorwegianCustomers</td>
      <td>@Model.DanishCustomers</td>
      <td>@Model.FinnishCustomers</td>
    </tr>
  </tbody>
</table>
