@page
@model BankAdministration.Pages.CustomerStatisticsModel
@{
}

<table class="table table-responsive table-hover caption-top">
  <caption>Kundstatistik</caption>
  <thead>
    <tr>
      <th scope="col">Kunder</th>
      <th scope="col">Befintlig</th>
      <th scope="col">Manlig</th>
      <th scope="col">Kvinnlig</th>
      <th scope="col">Svensk</th>
      <th scope="col">Norsk</th>
      <th scope="col">Dansk</th>
      <th scope="col">Finsk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>@Model.ActiveCustomers</td>
      <td>@Model.MaleCustomers män</td>
      <td>@Model.FemaleCustomers kvinnor</td>
      <td>@Model.SwedishCustomers</td>
      <td>@Model.NorwegianCustomers</td>
      <td>@Model.DanishCustomers</td>
      <td>@Model.FinnishCustomers</td>
    </tr>
  </tbody>
</table>
