@page
@model BankAdministration.Pages.Person.CustomerModel
@{
}


<section class="card py-5">
    <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-around p-3 mb-3">
            <div class="col-lg-8">
                <div class="card text-center h-100 mb-0">
                    <div class="card-body shadow p-0">
                        @foreach (var item in @Model.Items)
                        {
                            <h1 class="p-2 rounded-top bg-blue">@item.Givenname @item.Surname</h1>
                            <p class="p-2 text-start">Kön: @item.Gender</p>
                            <p class="p-2 text-start">Kundnummer: @item.CustomerId</p>
                            <p class="p-2 text-start">Personnummer: @item.NationalId</p>
                            <p class="p-2 text-start">Födelsedag:  @item.Birthday</p>
                            <p class="p-2 text-start">Gatuadress: @item.Streetaddress</p>
                            <p class="p-2 text-start">Postnummer och ort: @item.Zipcode  @item.City</p>
                            <p class="p-2 text-start">Land:  @item.Country.</p>
                            <p class="p-2 text-start">Telefonnr:  @item.Telephonecountrycode @item.Telephonenumber</p>
                            <p class="p-2 text-start">e-post:  @item.Emailaddress</p>
                            <hr />
                            <div class="d-flex aligns-items-center justify-content-center">
                                <h1 class="w-25 p-2 rounded-top bg-blue">Konton</h1>
                            </div>
                        }

                        <table class="table">
                            <tr>
                                <th>KontoNr.</th>
                                <th>Saldo</th>
                                <th>Skapat datum</th>
                                <th>Kontotyp</th>
                                <th></th>

                            </tr>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>@item.AccountId</td>
                                    <td>@item.Balance</td>
                                    <td>@item.Created</td>
                                    <td>@item.Type</td>
                                    <td><a asp-page="/BankAccount/Transaction" 
                                        asp-route-accountId="@item.AccountId" 
                                        class="btn btn-primary rounded-3 mb-3">Transaktioner</a></td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>