@page
@model BankAdministration.Pages.Person.CustomerModel
@{
}


<section class="card py-5">
    <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-around p-3 mb-3">
            <h3>@Model.FirstName @Model.LastName</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        @if (@Model.Gender == "male")
                        {
                            <img src="/img/man.png" alt="man" style="width:30%">
                        }
                        else
                        {
                            <img src="/img/woman.png" alt="kvinna" style="width:30%"/>
                        }
                        <div class="caption">
                        </div>
                    </div>
                </div>
                <p>Adress: @Model.Address</p>
                <p>Postnummer: @Model.ZipCode</p>
                <p>Postort: @Model.City</p>
                <p>Personnummer: @Model.NID</p>
                <p>Födelsedatum: @Model.Birthdate</p>
                <p>Telefonnummer: @Model.AreaCode @Model.PhoneNumber</p>
                <p>E-post: @Model.Email</p>
                @if (@Model.Status)
                {
                    <p>Status: <i class="fas fa-check"></i>(Active)</p>
                }
                else
                {
                    <p>Status: <i class="far fa-times-circle"></i>(Archived)</p>
                }

            </div>
        </div>
    </div>
</section>