@page
@model BankAdministration.Pages.Person.CustomerModel
@{
}


<section class="card py-5">
    <div class="container-fluid">
        <div class="row d-flex align-items-center justify-content-around p-3 mb-3">
            <h3></h3>
            <div class="row">
                @foreach (var item in Model.Items){
                <div class="col-md-4">
                    <div class="thumbnail">
                        
                        @if (@item.Gender == "male")
                        {
                            <img src="/img/man.png" alt="man" style="width:30%">
                        }
                        else
                        {
                            <img src="/img/woman.png" alt="kvinna" style="width:30%"/>
                        }
                        <div class="caption">
                        </div>
                    </div>
                </div>
                <p>Adress: @item.Address</p>
                <p>Postnummer: @item.ZipCode</p>
                <p>Postort: @item.City</p>
                <p>Personnummer: @item.NID</p>
                <p>Födelsedatum: @item.Birthdate</p>
                <p>Telefonnummer: @item.AreaCode @item.PhoneNumber</p>
                <p>E-post: @item.Email</p>
                @if (@item.Status)
                {
                    <p>Status: <i class="fas fa-check"></i>(Active)</p>
                }
                else
                {
                    <p>Status: <i class="far fa-times-circle"></i>(Archived)</p>
                }
                }
            </div>
        </div>
    </div>
</section>